*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

h1{
	margin: 50px 0 0 100px;
	font-size: 35px;

}

.projects{
	margin: 50px 0 100px 150px;
}

li{
	list-style-type: none;
}


.projects li{
	height: 40px;
	width: 370px;
	line-height: 40px;
	text-indent: 15px;
	margin-bottom: 30px;
	font-size: 25px;
	background: orange;
	border-radius: 10px;
	transition: 0.5s;
}

.projects li:hover{
	box-shadow: 0px 0px 5px black;
	text-indent: 25px;
	width: 380px;
}

a{
	display: inline-block;
	text-decoration: none;
	color: black;
}

.projects a{	
	width: 100%;
	font-style: italic;
}

footer{
	position: fixed;
	bottom: 5px;
	height: 50px;
	padding-left: 150px;
	line-height: 50px;
	width: 100%;
	background-color: #248cec;

}

footer li{
	display: inline-block;
	margin-right: 50px;
	font-style: normal;
}

footer a{
	transition: 0.5s;
}

footer a:hover{
	color: orange;

}